<a href="https://colab.research.google.com/github/nitiniitp/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Import pandas as pd.**

In [ ]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [ ]:
sal = pd.read_csv('/Salaries.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

** Check the head of the DataFrame. **

In [ ]:
sal.head()

   Id       EmployeeName  ...         Agency Status
0   1     NATHANIEL FORD  ...  San Francisco    NaN
1   2       GARY JIMENEZ  ...  San Francisco    NaN
2   3     ALBERT PARDINI  ...  San Francisco    NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco    NaN
4   5    PATRICK GARDNER  ...  San Francisco    NaN

[5 rows x 13 columns]

** Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [ ]:
sal.mean()

Id                  74327.500000
TotalPay            74768.321972
TotalPayBenefits    93692.554811
Year                 2012.522643
Notes                        NaN
dtype: float64

** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
print (sal.max())

Id                         148654
EmployeeName           Zuri Jones
JobTitle              ZOO CURATOR
TotalPay                   567595
TotalPayBenefits           567595
Year                         2014
Notes                         NaN
Agency              San Francisco
dtype: object

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [ ]:
test = sal['EmployeeName']
key = test[test=='JOSEPH DRISCOLL'].keys()[0]
title = sal['JobTitle']
title[key]


sal[sal['EmployeeName']=="JOSEPH DRISCOLL"]

    Id     EmployeeName                   JobTitle  ... Notes         Agency Status
24  25  JOSEPH DRISCOLL  CAPTAIN, FIRE SUPPRESSION  ...   NaN  San Francisco    NaN

[1 rows x 13 columns]

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
ind = sal['TotalPayBenefits'].idxmin()
sal.iloc[ind]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
sal.iloc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

** How many unique job titles are there? **

In [ ]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [ ]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
sum(sal['JobTitle'].str.lower().str.contains('chief', na=False))

627

In [ ]:
sal['title_len'] = sal['JobTitle'].str.len()

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
sal['title_len'] = sal['JobTitle'].str.len()

In [ ]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000